{{ header(file_name) }}
`ifndef  COMMON_REPORT_SERVER__SV
`define  COMMON_REPORT_SERVER__SV


class common_report_server extends uvm_default_report_server;
    virtual function string compose_report_message(uvm_report_message report_message,
                                                   string report_object_name = "");
        uvm_severity    severity = report_message.get_severity();
        string          name     = report_message.get_report_object().get_full_name();
        string          id       = report_message.get_id();
        string          message  = report_message.get_message();
        string          filename = report_message.get_filename();
        int             line     = report_message.get_line();
        uvm_severity_type severity_type = uvm_severity_type'(severity);
        if(severity_type == UVM_INFO) begin
            if(name == id) begin
                return $sformatf( "%-8s @%t %s: %s",severity_type.name(),$time,name,message);
            end
            else begin
                return $sformatf( "%-8s @%t %s [%s] : %s",severity_type.name(),$time,name,id,message);
            end
        end
        else if((severity_type == UVM_WARNING) ||(severity_type == UVM_ERROR) ||(severity_type == UVM_FATAL))begin
            if(name == id) begin
                return $sformatf( "%-8s %s(%0d) @%t %s: %s",severity_type.name(),filename,line,$time,name,message);
            end
            else begin
                return $sformatf( "%-8s %s(%0d) @%t %s [%s]: %s",severity_type.name(),filename,line,$time,name,id,message);
            end
        end
    endfunction
endclass

`endif
